@model IEnumerable<BookingApp.Models.Offer>

@{
    ViewData["Title"] = "Home";
}

<style>
    #mainContainer {
        padding: 0;
        max-width: 100%;
    }

    main.pb-3 {
        padding-bottom: 0em !important;
    }
</style>

<div class="container-fluid px-1 px-sm-4 mx-auto">
    <img src="https://coralhomes.com.au/wp-content/uploads/Atlanta-Series-1190x680.png" style="object-fit: cover; width: 100%; height: 500px; padding-bottom: 1rem"/>
    <div class="row d-flex justify-content-center">
        <div>
           <div class="card shadow-lg p-3 mb-5 rounded">
    <form asp-action="Search" method="get">
        <div class="row g-3">
            <div class="col-md-2">
                <label class="form-label">City</label>
                <input type="text" class="form-control" name="city" required>
            </div>

            <div class="col-md-2">
                <label class="form-label">Arrival</label>
                <input type="date" class="form-control" name="arrivalDate" min="@DateTime.Now.ToString("yyyy-MM-dd")" required>
            </div>

            <div class="col-md-2">
                <label class="form-label">Departure</label>
                <input type="date" class="form-control" name="departureDate" min="@DateTime.Now.ToString("yyyy-MM-dd")" required>
            </div>

            <div class="col-md-2">
                <label class="form-label">Type</label>
                <select class="form-control" name="type" required>
                    <option value="house">House</option>
                    <option value="apartment">Apartment</option>
                    <option value="room">Room</option>
                </select>
            </div>

            <div class="col-md-2">
                <label class="form-label">Landlord</label>
                <input type="text" class="form-control" name="landlord">
            </div>

            <div class="col-md-1 d-grid gap-2">
                <label> </label>
                <button type="submit" class="btn btn-success"><span class="bi bi-search"></span></button>
            </div>
        </div>
    </form>
</div>

        </div>
    </div>
</div>

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" style="margin-top: 1em;">

            @if (Model != null)
            {
                int index = 0;

                foreach (var item in Model)
                {
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card-body"> 
                                <a asp-controller="Offer" asp-action="View" asp-route-id="@item.Id.ToString()" style="color: black; text-decoration: none;">
                                    <h4 class="mb-1">@item.Accommodation.Address.City</h4>
                                </a>
                                 <img src="@item.Accommodation.PictureUrl" class="card-img-top" alt="Accommodation Image" style="height: 250px; object-fit: cover;">
                                <p class="card-text">
                                    Filled by
                                    @Html.DisplayFor(modelItem => item.Accommodation.User.FirstName) @Html.DisplayFor(modelItem => item.Accommodation.User.LastName)
                                </p>

                                <p>Available from @Html.DisplayFor(modelItem => item.StartAvailability) until @Html.DisplayFor(modelItem => item.EndAvailability)</p>

                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a asp-controller="Offer" asp-action="View" asp-route-id="@item.Id.ToString()" class="btn btn-sm btn-outline-secondary">
                                            See the offer
                                        </a>
                                    </div>

                                    <small class="text-success" style="font-weight: bold;">@Html.DisplayFor(modelItem => item.PricePerNight) €/Night</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    index++;
                }
            }
        </div>
    </div>
</div>

